.clock-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.label {
  margin-top: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
}

.controls button:hover {
  color: #007bff;
}

#break-length, #session-length {
  margin: 0 10px;
}

#timer-label {
  margin-top: 20px;
  font-size: 24px;
}

#time-left {
  margin-top: 10px;
  font-size: 36px;
}

#start_stop, #reset {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

#start_stop:hover, #reset:hover {
  background-color: #0056b3;
}

.mode-toggle {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.mode-toggle.dark-mode {
  background-color: #343a40;
}

.mode-toggle.light-mode {
  background-color: #f8f9fa;
}

.mode-toggle:hover {
  background-color: #0056b3;
}
.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}
